<a href="https://colab.research.google.com/github/aldynovriandy/Orbit/blob/main/SL_04_Regular_Expression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Regular Expression (Regex)
> Library untuk pengenalan dan pengelolaan pola pada teks
> 

Contoh implementasi:
- Pola Email
- Pola Nomor telepon
- Pola url
- Pola Nomor plat kendaraan bermotor 
- Menghilangkan karakter khusus pada teks
- dll.

**Contoh Syntax dan Aturan-aturan pada class Regex**

---
Kelas Karakter
---

*   [ abc] = karakter a ,b atau c (kelas sederhana)
*   [^abc] = kecuali karakter a ,b ,atau (negasi)
*   [a-zA-Z] = karakter a sampai z huruf kecil , atau A sampai Z huruf besar ,(jarak)
*   [a-z[x-y]] = karakter a sampai d ,atau m sampai p (a-xy-z : gabungan)
*   [a-z0-9] = karakter a sampai z ,atau angka dari 0 sampai 9
*   [a-z&&[^bc] = karakter a sampi z, kecuali untuk b dan c.

---
Meta Karakter
---
*   . = tanda titik ,yang berarti karakter apa saja
*   \d = angka digit apa saja:, seperti [0-9]
*   \D = selain angka digit : [^0-9]
*   \s = sebuah spasi pada kaarkter, seperti [ \t\n\x0B\f\r]
*   \S = selain spasi pada karakter: [^\s]
*   \w = huruf dan angka apa saja ,seperti [a-zA-Z_0-9]
*   \W = selain angka dan huruf ,[\w]

---
Batasan Kecocokan Karakter
---
*   ^ = tanda awalan
*   $ = tanda akhiran
*   \b = batasan kecocokan kata
*   \B = batasan kecocokan selain kata
*   \A = awalan untuk input text
*   \G = akhir dari kecocokan sebelumnya
*   \Z = akhir dari input text, kecuali final terminator jika ada
*   \z = akhir dari input text

---

In [ ]:
# Import Library Regex (re)
import re

# Pola Email
email_pattern = re.compile(r''[\w._%+-]+@[\w\.-]+\.[a-zA-Z]{2,4})
txt = 'Contact kami di admin@thenextyunikorn.id, sales@yunikornbaru.com, atau hrd@yunikornindo.id'

### Pola Email

In [ ]:
# Menghapus Email dalam teks
print( re.sub(email_pattern, ' ', txt))

Contact kami di  ,  , atau

In [ ]:
# Mengambil email dari teks berdasarkan pola regex yang ditentukan
emails = re.findall(email_pattern, txt)
print( 'Email yang ditemukan: ', emails)

Email yang ditemukan:  ['admin@thenextyunikorn.id', 'sales@yunikornbaru.com', 'hrd@yunikornindo.id']

### Pola Nomor Telepon

In [ ]:
# Pola telephone : \d penanda angka di reguler Expression, \s spasi, dan "|" adalah "atau"
# "?" menyatakan pilihan (optional)
phone_pattern = re.compile(r'(\d{3}[-\.\s]??\d{3}[-\.\s]??\d{4,6}|\(\d{3}\)\s*\d{3}[-\.\s]??\d{4,6}|\d{3,4}[-\.\s]??\d{4,6})')
txt = 'Contact kami di 021-7632456 atau 021-443-4162 atau 021 797 4524 atau 0822959020 atau +628199258643'

In [ ]:
# Sensor *** untuk pola Nomor Telepon
print(re.sub(phone_pattern,'***',txt))

Contact kami di *** atau *** atau *** atau *** atau +***

In [ ]:
# Mengambil nomor telepon dari teks berdasarkan pola regex yang telah ditentukan
phone_numbers = re.findall(phone_pattern,txt)
print('Nomer telephone yang ditemukan: ', str(phone_numbers))

Nomer telephone yang ditemukan:  ['021-7632456', '021-443-4162', '021 797 4524', '0822959020', '628199258643']

Pola URL atau Link

In [ ]:
# Website URL http(s)
url_pattern = re.compile(r'www|http:|https:+[^\s]+[\w]')
txt = 'Teman teman dapat mengunjungi link berikut untuk sumber belajar: https://www.regular-expressions.info/ atau https://www.towardsdatascience.com atau https://wikipedia.org'

In [ ]:
# Menghapus url pada teks
print(re.sub(url_pattern,' ',txt))

Teman teman dapat mengunjungi link berikut untuk sumber belajar:  / atau   atau

In [ ]:
# Mengambil url dari teks berdasarkan pola regex yang telah ditentukan
urls = re.findall(url_pattern,txt)# get urls
print('URL yang ditemukan: ',str(urls))

URL yang ditemukan:  ['https://www.regular-expressions.info', 'https://www.towardsdatascience.com', 'https://wikipedia.org']

### Pola Plat Kendaraan Bermotor

In [ ]:
plat_pattern = re.compile(r'[A-Z]{1,2}\s\d{1,4}\s[A-Z]{1,3}')
text = "Mr.X punya 2 motor dan 1 mobil. Adapun plat nomornya yaitu B 234 AA, C 3244 YGS, dan D 3 S."

In [ ]:
# Menghapus plat kendaraan pada teks
print(re.sub(plat_pattern, ' ', text))

Mr.X punya 2 motor dan 1 mobil. Adapun plat nomornya yaitu  ,  , dan  .

In [ ]:
kumpulan_plat_kendaraan = re.findall(plat_pattern, text)
print(kumpulan_plat_kendaraan)

['B 234 AA', 'C 3244 YGS', 'D 3 S']

### Menghilangkan Karakter Khusus

In [ ]:
text = "Halo @Hyeri, apa kabar? #SapaKawan."
result = re.sub(r'[@,.?#]', '', text)
print(result)

Halo Hyeri apa kabar SapaKawan

**Crawling Data Form Twitter**

Import Library

In [ ]:
import os
import csv
import tweepy as tw
import pandas as pd

Call API

In [ ]:
access_token = "3760416139-MLn5ifjLKCSXh4dWrgmOsSpQ6lYvefNkbQNuM35"
access_token_secret ="KsKpKqYwCli8YDNJg15y8ZW0quVlfGwrUCrOX4xLZHMaE"
consumer_key ="gchYjFhHc48sIveGC8fMVa2Sw"
consumer_secret="F4wR4cp8CIcAhkUgVFtrOZDg9CDKaroN9O0dkh2vSxgubnoKCb"

Atutentifikasi ke Twitter

In [ ]:
auth = tw.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tw.API(auth, wait_on_rate_limit=True)

Pencarian Topik

In [ ]:
search_words = "shopeepaylater"

In [ ]:
csvFile = open('Shopeepay.csv', 'a')
#Use csv Writer
csvWriter = csv.writer(csvFile)

ids = set()
csvWriter.writerow(['timetweet','isitweet','favcount', 'retwcount','id','name'])

csvFile.close()

In [ ]:
csvFile = open('Shopeepay.csv', 'a')
#Use csv Writer
csvWriter = csv.writer(csvFile)

ids = set()

for tweet in  tw.Cursor(api.search,
                   q=search_words,
                   date ='2020-12-12', 
                   lang='id', 
                   tweet_mode = 'extended').items(90000):
  #if (not tweet.retweeted) and ('RT @' not in tweet.full_text):
    #Write a row to the csv file/ I use encode utf-8
    csvWriter.writerow([tweet.created_at, tweet.full_text.encode('utf_8'), tweet.favorite_count, tweet.retweet_count, tweet.id, tweet.user.screen_name])
    #print "...%s tweets downloaded so far" % (len(tweet.id))
    ids.add(tweet.id) # add new id
    #print ("number of unique ids seen so far: {}",format(len(ids)))
csvFile.close()

In [ ]:
#with open(path, 'rb') as f: contens = f.read()
df = pd.read_csv('Shopeepay.csv')
df.head()

,timetweet,isitweet,favcount,retwcount,id,name
0,2022-03-22 04:10:49,b'\xe2\x98\x86OPEN CONVERT / CV / PINDAH SALDO...,0,0,1506121192562130944,CUANFORLYF
1,2022-03-22 04:00:01,"b'\xf0\x9f\x92\xabHi, open jasa gestun/cairin/...",0,0,1506118473268748289,anakkosnangor
2,2022-03-22 03:49:32,b'cara non aktifin shopeepaylater gimana ya??',0,0,1506115836020654083,urasawachamois
3,2022-03-22 03:42:51,b'Halooo yang mau gestun - gesek tunai cairin ...,0,0,1506114156130631680,truffflle
4,2022-03-22 03:30:00,"b'\xf0\x9f\x92\xabHiiii, aku open jasa gestun/...",0,0,1506110921709658119,anakkosnangor

In [ ]:
len(df.index)

298

## Activity
**TEXT:**
> Halo semua, namaku Andy Joe. Kemarin smartphoneku mendapat SMS tagihan Pinjaman Online dari nomor 08004398499. Selain itu emailku juga mendapatkan pesan serupa dari debtcollector@pinjolninuninu.com. Ternyata salah satu temanku menjadikan nomor telepon dan emailku sebagai penanggungjawab pinjaman onlinenya :(. Tak lama sosok pria berbadan bongsor datang ke rumahku dengan menggunakan mogenya. Ia menanyakan keberadaan temanku yang meminjam uang di perusahaan Pinjol tersebut. Aku yang tak tahu keberadaannya pun menjawab apa adanya. Tak lama kemudian pria tersebut pergi dan segera kuambil gambar mogenya dengan  plat PO 3030 AY. Setelah itu aku menghubungi temanku dan meminta penjelasan kepadanya.
>
---
### 1. Buatlah format pesan kepada teman Andy Joe untuk meminta penjelasan terkait dengan situasi yang sedang terjadi. (ganti teks yang cetak miring dan tebal menjadi nomor debtcollector, email debtcollector dan plat nomor)
>

**Format Pesan:**
> "*Halo xxxxx, Aku tadi habis didatangi debtcollector. Dia mengirimiku pesan lewat nomornya yaitu **nomor_debtcollector** dan email **email_debtcollector**. Dia bilang kamu jadiin nomorku dan emailku sebagai penanggungjawab. Bisa tolong jelasin? Terus aku tadi juga sempet foto motor yg dipake mas debtcollector. Plat nomornya **plat_nomor_debtcollector**.*"


### 2. Buatlah preprocessing sederhana dengan menghilangkan karakter titik, koma dan tanda tanya dari format pesan yang sudah dibuat (Di nomor 1)

In [ ]:
text = "Halo semua, namaku Andy Joe. Kemarin smartphoneku mendapat SMS tagihan Pinjaman Online dari nomor 08004398499. Selain itu emailku juga mendapatkan pesan serupa dari debtcollector@pinjolninuninu.com. Ternyata salah satu temanku menjadikan nomor telepon dan emailku sebagai penanggungjawab pinjaman onlinenya :(. Tak lama sosok pria berbadan bongsor datang ke rumahku dengan menggunakan mogenya. Ia menanyakan keberadaan temanku yang meminjam uang di perusahaan Pinjol tersebut. Aku yang tak tahu keberadaannya pun menjawab apa adanya. Tak lama kemudian pria tersebut pergi dan segera kuambil gambar mogenya dengan plat PO 3030 AY. Setelah itu aku menghubungi temanku dan meminta penjelasan kepadanya."

In [ ]:
# Jawaban Nomor 1

In [ ]:
# Jawaban Nomor 2
result = re.sub(r'[.,?]', '', format_pesan)
print(result)

NameError: ignored